body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer{
    bottom: 0;
    position: fixed;
}
.img-cls{
    width: 400px;
    height: auto;
    border-radius: 15%
}
.content{
    float: left;
}