body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: aliceblue
}

.footer {
    bottom: 0;
    left: 85%;
    position: fixed;
}

.image {
    text-align: center;
}

.img-cls {
    width: 500px;
    height: auto;
    border: 2px solid #ff0356;
    box-shadow: 2px 2px #fff;
}

.content {
    float: left;
    border-bottom: 2px solid #fff;
    width: 100%
}

.content>ul>li>a {
    text-decoration: none;
    color: #fff;
}

.content>ul>li>a:hover {
    text-decoration: underline;
    color: #ff0356;
}

.mood-img {
    display: inline;
}

.mood {
    height: 300px;
}

b {
    color: #ff0356
}

h2 {
    text-shadow: 4px 2px #ff0356;
}

h1 {
    text-shadow: 2px 4px #ff0356;
}

dl {
    font-size: .9em;
    font-style: italic;
}

dl>dt {
    color: #ff0356
}

div {
    border-bottom: 1px solid #AABBCC;
}